/* some style */
body {
    margin: 5px;
}

.linkdiv {
    margin: 10px;
    padding: 10px;
    border-style: double;
}

.uplink {
    padding-right: 5px;
    cursor: pointer;
}

.downlink {
    padding-right: 5px;
    cursor: pointer;
}

.remove {
    padding-right: 5px;
    cursor: pointer;
}

.buffplus {
    padding-right: 5px;
    cursor: pointer;
}

.buffminus {
    padding-right: 5px;
    cursor: pointer;
}

.linkbox {
    padding-left: 5px;
}

.buffclose {
    padding-right: 5px;
    cursor: pointer;
}

.buffdl {
    padding-right: 5px;
    cursor: pointer;
}

.buffer {
    margin: 10px;
    padding: 10px;
    border-style: dotted;
}
